/* IMPORTO TIPO DE LETRA */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* ESTILOS GENERALES */
  * {
  box-sizing: border-box;
} 
body {
  font-family: 'Montserrat', sans-serif;
  background: #eef2f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 2px;
}

/* HEADER */
.logo {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px ;
}

/* FORMULARIO */
form {
  background: #fff;
  box-shadow: 0 0 6px #0003;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

select, input {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

button {
  font-family: 'Montserrat', sans-serif;
  background: #1976d2;
  border: none;
  color: #fff;
  padding: 12px 15px;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

button:hover {
  background: #125ea9;
}

/* RESULTADO */
.card {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 6px #0004;
  margin-top: 10px;
}

.history-item {
  background: #f3f3f3;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}

/* MENU DE ICONOS */
.menu-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.menu-btn {
  background: #1976d2;
  border: none;
  padding: 10px 14px;
  font-size: 28px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: 0.2s;
}

.menu-btn:hover {
  background: #125ea9;
}

.menu-btn.active {
  background: #b7770f;
  transform: scale(1.05);
}